.formpt1{
  
   position:absolute;
   top:10%;
    min-width: 1000px;
    min-height: 600px;
    right:18%;
    align-content: center;
    background-color: whitesmoke;
    



}
.titleContainer1{
    /* border:solid orange; */
    width: 500px;
    height:200px;
    position:absolute;
    top:20%;
    right:35%;

}
.titleContainer2{
    /* border:solid orange; */
    width: 600px;
    height:200px;
    position:absolute;
    top:40%;
    right:30%;
}
.titleContainer3{
    /* border:solid orange; */
    width: 500px;
    height:200px;
    position:absolute;
    top:60%;
    right:35%;
}
.titleContainer4{

}
.addicon{
    position:absolute;
    top:15%
}
.helperDiv1{
    width:200px;
    height:70px;
    border-radius:10px;
    color:honeydew;
    background-color:#4280c7;
    position:absolute;
    top:10%;
    right:-30%;
}
.helperDiv2{
    width:350px;
    height:70px;
    border-radius:10px;
    color:honeydew;
    background-color:#4280c7;
    position:absolute;
    top:10%;
    right:-40%;
}
.helperDiv3{
    width:250px;
    height:70px;
    border-radius:10px;
    color:honeydew;
    background-color:#4280c7;
    position: absolute;
    top:20%;
    right:-35%;
}
#buttonsForm1{
    position:absolute;
     right:45%;
    top:85%; 
}