.formpt1{
  
   position:absolute;
   top:10%;
    min-width: 1000px;
    min-height: 600px;
    right:18%;
    align-content: center;
    background-color: none;
    



}
.uploadLabel{
    position:absolute;
    top:68%;
    right:40%;

}
.titleContainer8{
    position:absolute;
    top:20%;
    right:30%
}
.uploadbuttonlabel{
    position:absolute;
    top:75%;
    right:82%;
}
#button2{
    position:absolute;
    top:85%;
    right:47%;
}
.button3{
    position:absolute;
    top:50%;
    right:-380%;
}
.mainTitle{
    color:black;
    position:absolute;
    top:5%;
    left:10%
}
.mainTitle2{
    color:black;
    position:absolute;
    top:13%;
    left:15%
}
.titleContainer1{
    /* border:solid orange; */
    width: 500px;
    height:200px;
    position:absolute;
    top:20%;
    right:45%;

}
.titleContainer2{
    /* border:solid orange; */
    width: 600px;
    height:200px;
    position:absolute;
    top:40%;
    right:40%;
}
.titleContainer3{
    /* border:solid orange; */
    width: 500px;
    height:200px;
    position:absolute;
    top:60%;
    right:45%;
}
.titleContainer4{
    width: 600px;
    height:400px;
    position:absolute;
    top:25%;
    right:25%;
}
.helperDiv4{
    width:350px;
    height:50px;
    border-radius:10px;
    color:honeydew;
    background-color:#4280c7;
    position:absolute;
    top:10%;
    right:-55%;
    font-size:medium;
}
.titleContainer5{
    width: 600px;
    height:400px;
    position:absolute;
    top:60%;
    right:25%;
}
.helperDiv5{
    width:350px;
    height:50px;
    border-radius:10px;
    color:honeydew;
    background-color:#4280c7;
    position:absolute;
    top:10%;
    right:-45%;
    font-size:medium;
}
.titleContainer6{
    width: 600px;
    height:400px;
    position:absolute;
    top:75%;
    right:25%;
}
.helperDiv6{

}
.helperDiv1{
    width:250px;
    height:40px;
    border-radius:10px;
    color:honeydew;
    background-color:#4280c7;
    position:absolute;
    top:20%;
    right:-34%;
    font-size:medium;
}
.iconsArrow{
    position:absolute;
    top:10%;
    right:100%
}
.helperDiv2{
    width:500px;
    height:40px;
    border-radius:10px;
    color:honeydew;
    background-color:#4280c7;
    position:absolute;
    top:17%;
    right:-60%;
    font-size:medium;
}
.helperDiv3{
    width:520px;
    height:40px;
    border-radius:10px;
    color:honeydew;
    background-color:#4280c7;
    position: absolute;
   
    top:32%;
    right:-85%;
    font-size:medium;
}
#buttonsForm1{
    position:absolute;
     right:45%;
    top:85%; 
}
#buttonsForm2{
    position:absolute;
     right:55%;
    top:90%; 
}